.board-container {
  width: max-content;
  height: max-content;
  border: 0.5rem solid black;
  background-image: linear-gradient(
    to right,
    rgb(87, 170, 79),
    rgb(0, 112, 240)
  );
  margin: auto;
}
