.board-container {
  width: max-content;
  height: max-content;
  border: 1rem solid black;
  background-image: linear-gradient(
    to bottom,
    rgb(100, 112, 240),
    rgba(0, 0, 0, 0.842)
  );
  margin: auto;
}
